<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>doglodge.io</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">doglodge.io</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Deck</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/mattgiguere/doglodge" target="new">Github</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
    </div>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
        <h2>Best Places to Stay With Your Dog in {{destination}} </h2>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-2">
            <!-- <h2> Future Map Will Go Here! </h2> -->
            <img id='mapimage' src= {{ url_for('static', filename = 'img/Phoenix.png') }} width="100%">
            <script>
            var mapCenter = new google.maps.LatLng(mapOptions['center']['lat'], mapOptions['center']['lng']);
            var myOptions = {
                center: mapCenter,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var Map = google.maps.Map(document.getElementById(‘Map’), myOptions);

            var mapCenter = new google.maps.LatLng(lat, lng);//lat, lng – coordinates of the new map center
            Map.setCenter(mapCenter);
            </script>
            </div>
            
            <div class="col-md-4 col-sm-6 hotel-div">
                <ul>
                {% for rating, name in ratings %}
                <li class='dog-hotels list-unstyled'>{{rating}} - {{name}}</li>
                {% endfor %}
                </ul>
            </div>

        </div>
                <!--   
                <div class="container">
               			<div class="starter-template">
                   		<h3>Results:</h3>
                   		<p class="lead"> {{the_result}} </p>
               	</div>

                -->
               	<!--<div class="col-md-6"> -->
                <!--
               	<div class="map">
               	{% include map_name %}
               	</div>
               	</div?>           
                -->
               	</div><!-- /.container -->
        </div>
    </header>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
