<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>doglodge.io</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Header (contains the background image, which is why everything is inside of it-->
<header id="top" class="header">
    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">doglodge.io</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="https://speakerdeck.com/mattgiguere/doglodgewk4" target="new">Deck</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://mattgiguere.com" target="new">Me</a></li>
                <li><a href="https://twitter.com/magickair" target="new">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/mjgiguere" target="new">LinkedIn</a></li>
                <li><a href="https://github.com/mattgiguere/doglodge" target="new">Github</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="text-vertical-center">
    {% if unavailable == False %}
        <h2 id="dog-dest-hdr">Best Places to Stay With Your Dog in {{destination}} </h2>

        <div class="row">&nbsp;</div>

        <div class="row">

        <!-- review section -->
        <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1 hotel-div">
        <table class="table table-hover">
        <thead>
        <tr>
        <th> &nbsp; Rating</th>
        <th>Hotel Image</th>
        <th>Hotel Name</th>
        <th>Avg Price</th>
        </tr>
        </thead>
        <tbody>
        {% for rating, name, img, url, price in ratings %}
        <tr>
        <td class="hotel_rating">
        {{rating}}
        </td>
        <td>
        <div class="hotel_img_crop">
        <img src="{{img}}">
        </div>
        </td>
        <td>
        <a href="{{url}}" target="new">{{name}} </a>
        </td>
        {% if price == 'nan' %}
        <td class="hotel_price">
        N/A
        </td>
        {% else %}
        <td class="hotel_price">
        $ {{price}} <div class="night-text">/night</div>
        </td>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% else %}
        <div class="row" id="top-space-unavail">&nbsp;</div>

        <div class="row">

        <!-- review section -->
        <div class="col-lg-8 col-md-10 col-sm-12 col-lg-offset-2 col-md-offset-1 hotel-div">
        <h3 id="dog-dest-unavail">
            We're sorry, but doglodge.io does not yet provide information for {{destination}}. 
            Please select from the following available destinations:
        </h3>
        <table class="table table-hover">
        <tbody>
        {% for city in available_cities %}
        <tr>
        <td>
        <a href="http://doglodge.io/output?ID={{city}}">{{city}} </a>
        </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% endif %}
    </div>
    </div>
    </div>

    <div class="row" id="bottom-spacer">&nbsp;
    </div>
</header>

<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68987317-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Custom Theme JavaScript -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>

</body>

</html>
